<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>excuse</key>
		<string>The users might not notice it, but they’ll feel it</string>
		<key>excuseType</key>
		<string>Designer</string>
	</dict>
	<dict>
		<key>excuse</key>
		<string>I don’t think that’s very user friendly.</string>
		<key>excuseType</key>
		<string>Designer</string>
	</dict>
	<dict>
		<key>excuse</key>
		<string>The problem seems to be with our legacy software</string>
		<key>excuseType</key>
		<string>Developer</string>
	</dict>
	<dict>
		<key>excuse</key>
		<string>That wasn&apos;t in the original specification</string>
		<key>excuseType</key>
		<string>Developer</string>
	</dict>
	<dict>
		<key>excuse</key>
		<string>This should be an easy fix</string>
		<key>excuseType</key>
		<string>AccountManager</string>
	</dict>
	<dict>
		<key>excuse</key>
		<string>Did you receive the email I forwarded?</string>
		<key>excuseType</key>
		<string>AccountManager</string>
	</dict>
</array>
</plist>
